@font-face {
  font-family: "MAIF";
  src: url("MAIF-Light.eot");
  src: url("MAIF-Light.eot?#iefix") format("embedded-opentype"),
    url("MAIF-Light.woff2") format("woff2"),
    url("MAIF-Light.woff") format("woff"), url("MAIF-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MAIF";
  src: url("MAIF-LightItalic.eot");
  src: url("MAIF-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("MAIF-LightItalic.woff2") format("woff2"),
    url("MAIF-LightItalic.woff") format("woff"),
    url("MAIF-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "MAIF";
  src: url("MAIF-Italic.eot");
  src: url("MAIF-Italic.eot?#iefix") format("embedded-opentype"),
    url("MAIF-Italic.woff2") format("woff2"),
    url("MAIF-Italic.woff") format("woff"), url("MAIF-Italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MAIF";
  src: url("MAIF-Regular.eot");
  src: url("MAIF-Regular.eot?#iefix") format("embedded-opentype"),
    url("MAIF-Regular.woff2") format("woff2"),
    url("MAIF-Regular.woff") format("woff"),
    url("MAIF-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MAIF";
  src: url("MAIF-Medium.eot");
  src: url("MAIF-Medium.eot?#iefix") format("embedded-opentype"),
    url("MAIF-Medium.woff2") format("woff2"),
    url("MAIF-Medium.woff") format("woff"), url("MAIF-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MAIF";
  src: url("MAIF-MediumItalic.eot");
  src: url("MAIF-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("MAIF-MediumItalic.woff2") format("woff2"),
    url("MAIF-MediumItalic.woff") format("woff"),
    url("MAIF-MediumItalic.svg") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "MAIF";
  src: url("MAIF-Bold.eot");
  src: url("MAIF-Bold.eot?#iefix") format("embedded-opentype"),
    url("MAIF-Bold.woff2") format("woff2"), url("MAIF-Bold.woff") format("woff"),
    url("MAIF-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MAIF";
  src: url("MAIF-BoldItalic.eot");
  src: url("MAIF-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("MAIF-BoldItalic.woff2") format("woff2"),
    url("MAIF-BoldItalic.woff") format("woff"),
    url("MAIF-BoldItalic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "MAIF";
  src: url("MAIF-Black.eot");
  src: url("MAIF-Black.eot?#iefix") format("embedded-opentype"),
    url("MAIF-Black.woff2") format("woff2"),
    url("MAIF-Black.woff") format("woff"), url("MAIF-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MAIF";
  src: url("MAIF-BlackItalic.eot");
  src: url("MAIF-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("MAIF-BlackItalic.woff2") format("woff2"),
    url("MAIF-BlackItalic.woff") format("woff"),
    url("MAIF-BlackItalic.svg") format("svg");
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "MAIF", serif;
  background-color: rgb(246, 243, 241);
  padding-top: 6.5rem;
  font-size: 18px;
}

h2 {
  font-size: 1.7rem;
}

.bg-blue {
  background-color: #2e404f;
}

.w-10 {
  width: 10%;
}



.title {
  font-size: 2rem;
  color:#c62222;
}
.form-select{
  width: auto;
}
.btn-promote {
  background: #c62222;
  color: #fff;
  border: solid 2px #c62222;
}
/* products */
/* .product {
  min-height: 520px;
} */

a .product{
  text-decoration: none;
}
.product {
  padding: 5px;
  background-color: #fff;
  min-height: 460px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;
}

/* .product:hover{
  box-shadow: 0 4px 15px 2px rgba(0,0,0,.54);
} */
.product_title {
  font-weight: bold;
  font-size: 35px;
  color: rgb(46, 64, 79);
  text-align: center;
  word-break: break-word;
}
.logo {
  position: relative;
  width: 100%;
  background-color: #343736;
}
.repo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
  color: #c62222;
}
.repo i{
  transition: all 0.2s;
}
.repo i:hover{
  transform: scale(1.1);
}
.read-more {
  background-color: #fff;
}
.link {
  font-size: 14px;
  color: #8B8B8A;
  text-align: center;
}
.link a {
  color: #8B8B8A;
  word-break: break-all;
  text-decoration: none;
}
.link a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 50px;
  background: linear-gradient(90deg, #595667, #684a52);
  overflow: auto;
  color: #fff;
}

.footer-content {
  display: inline-block;
  font-size: 14px;
  padding: 15px 5px;
}

.footer-content a {
  margin: 0 5px;
  color: #ffff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.twitter-tweet {
  transform: scale(0.5) translateY(-50%);
}

.medium-container{
  position: relative;
overflow: hidden;
width: 100%;
padding-top: 56.25%;
}


.medium-container iframe{
  position: absolute !important;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
}


.card{
  background-color: rgb(246, 243, 241);
  max-height: 400px;
  overflow: auto;
}

.nav-link, .nav-link:hover {
  color: inherit;
}

/* home */
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

/* project */
.projects .grid-item,
.grid-sizer {
  width: 33%;
}

.projects .grid-item {
  float: left;
  height: 600px;
}
.projects .grid-item-content {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: width 0.4s, height 0.4s;
  transition: width 0.4s, height 0.4s;
}

.projects .grid-item:hover .projects .grid-item-content {
  cursor: pointer;
}

.projects .grid-item.is-expanded {
  width: 66%;
  height: 1400px;
  z-index: 2;
}


.story-telling{
  display: none;
}


@media (max-width: 767px) { 
  .projects .grid-item,
  .grid-sizer {
    width: 100%;
  }
  .projects .grid-item {
    height: 510px;
  }
  .projects .grid-item.is-expanded {
  width: 100%;
  }
}