body {
  font-family: 'Arvo', serif;
}

.header {
  background: url(../img/header-home.svg) #2E3031 no-repeat;
  background-size: cover;
  background-position: center top;
  height: 150px;
}

.otoColor {
  background-color: #F7A600;
}

.izaColor {
  background-color: #DC5F9F;
}

.cardsColor {
  background-color: #a6bc99;
}

.home {
  background-image: url(../img/bg-container.svg);
  background-repeat: no-repeat;
}

.product {
  border: 1px solid #9D9D9C;
  padding: 5px;
  margin-top: 50px;
  background-color: #fff;
  min-height: 460px;
}

.logo {
  position: relative;
}

.tag {
  position: absolute;
  right: 14px;
  top: 70px;
  width: 20%;
}

.title {
  font-weight: bold;
  font-size: 36px;
  color: #2f3031;
  text-align: center;
  word-break: break-word;
}

.title a {
  color: #000000;
}

.description {
  font-size: 14px;
  text-align: center;
  color: #000000;
}

.link {
  font-size: 14px;
  color: #8B8B8A;
  text-align: left;
}

.link-center {
  text-align: center;
  margin-top: 40px;
}

.link a {
  color: #8B8B8A;
}

.repo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
  color: #fff;
}

.fa-github {
  padding-top: 7px;
  width: 100%;
}

footer {
  margin-top: 50px;
  padding-top: 15px;
  background-color: black;
  overflow: auto;
}

footer .fa-github {
  padding-top: 0px;
  width: auto;
}

.footer-content {
  display: inline-block;
  border-left: 1px solid #8b8b8a;
  padding-left: 10px;
}

.repo i {
  text-align: center;
}

.soon {
  position: absolute;
  text-align: center;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 24px;
}

.disabled {
  color: #cfcdcc;
}

@media screen and (min-width: 600px) {
  .header {
    height: 300px;
  }
}

@media screen and (min-width: 1400px) {
  .header {
    background-size: auto;
  }
}

.offre .product {
  padding: 15px;
}

.offre h1 {
  text-align: center;
}

.offre h2 {
  margin-top: 60px;
}

.offre h1+p+h2 {
  margin-top: 100px;
}

.offre .fa {
  margin-right: 10px;
}

.offre a {
  color: #2f3031;
}

.row-offer-blocs {
  margin-top: 50px;
  position: relative;
}

.join h1 {
  font-weight: bold;
  margin-top: 40px;
  color: #2f3031;
}

.join .tag {
  width: 30%;
  right: -1px;
  top: 10px;
  font-size: 14px;
  font-weight: bold;
  fill: #2E3031;
}

.tag-yellow {
  fill: #F7A600;
}

.tag-pink {
  fill: #DC5E9F;
}

.tag-green {
  fill: #A6BC99;
}

.tag-blue {
  fill: #00B4CD;
}

.tag-shadow {
  fill: #2E3031;
}

.joinus {
  border: 1px solid #9D9D9C;
  padding: 5px;
  background-color: #fff;
}

.joinus .description {
  text-align: left;
  padding: 10px;
}

.joinus.job {
  position: relative;
}

.profil-bg {
  background: url(../../img/joinus-Profil.svg) #2E3031 no-repeat;
  color: #f5f5f5;
}
